<img src="/images/marcos.jpg" class="img-responsive col-xs-12 col-sm-6" alt="Mi foto">
<div class='col-xs-12  col-sm-6'>
  <h3>Nombre</h3>
  <h6>Marcos Gutiérrez Batz</h6>
  <h3>Ocupación</h3>
  <h6>Desarrollador de software en lenguaje C, C++, Java, C#,...</h6>
</div>
