<div class='col-xs-12 col-sm-11'>
  <form class="form-horizontal" method="post" action="/quizes/<%= quiz.id %>?_method=put">
    <% include _form.ejs %>
    <div class="form-group">
      <a href="/quizes" class="btn btn-danger col-xs-6 col-sm-offset-3 col-sm-3">Cancelar</a>
      <button type="submit" class="btn btn-success col-xs-6 col-sm-offset-2 col-sm-3">Modificar</button>
    </div>
  </form>
</div>
