<div class='col-xs-12 col-sm-11'>
  <div class="row">
    <h4 class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-6">Tema: <%= quiz.tema %></h4>
  </div>
  <form class="form-horizontal" method="get" action="/quizes/<%= quiz.id %>/answer">
    <div class="form-group">
      <label for="respuesta" class="control-label col-xs-12 col-sm-6">Pregunta: <%= quiz.pregunta %></label>
      <div class="col-xs-12 col-sm-6">
        <input type="text" name="respuesta" id="respuesta" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default col-xs-12 col-sm-offset-6 col-sm-3">Enviar</button>
    </div>
  </form>
</div>
